body {
    background-color: #DDDDDD;
    margin: 20px 20px 20px 20px;
}
iframe {
    max-width: 80%;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    margin-top:20px;
}
img {
    max-width: 80%;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    margin-top:20px;
}

