<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bsz.androiddevelopersblog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!--<permission android:protectionLevel="signature"-->
        <!--android:name="br.com.bsz.androiddevelopersblog.permission.C2D_MESSAGE" />-->
    <!--<uses-permission android:name="br.com.bsz.androiddevelopersblog.permission.C2D_MESSAGE" />-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"></activity>

        <provider
            android:name=".data.BlogContentProvider"
            android:authorities="br.com.bsz.androiddevelopersblog"
            android:enabled="true"
            android:exported="false"
            android:syncable="true"></provider>

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.BlogServiceAuthenticator">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.BlogSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <activity
            android:name="settings.SettingsActivity"
            android:theme="@style/PreferenceScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--<service android:name="com.parse.PushService" />-->
        <!--<receiver android:name="com.parse.ParsePushBroadcastReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
                <!--<action android:name="com.parse.push.intent.DELETE" />-->
                <!--<action android:name="com.parse.push.intent.OPEN" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="com.parse.GcmBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--&lt;!&ndash;-->
                  <!--IMPORTANT: Change "com.parse.starter" to match your app's package name.-->
                <!--&ndash;&gt;-->
                <!--<category android:name="br.com.bsz.androiddevelopersblog" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
